
* {
    margin: 0;
    padding: 0;
}

.login__div {
    background: rgb(153 153 153);
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login__div-header {
    background: white;
    height: 53px;
    width: 600px;

    margin-top: 2vw;

    border-top-left-radius: 16px;
    border-top-right-radius: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;


    /* text-align: center;   */
    /* position:relative; */
}

.login__div-icon-cross {
    background: red;
    /* medidas de la x inicial

     height: 12px;
    width: 12px; */

    height: 50px;
    width: 50px; 

    position: absolute;
    left: 20px;
    border-radius: 50%;
}

.login__div-icon-bird {
    background: red; 
    height: 30.5px;
    width: 30px;
    /* margin-inline-start: auto; */

    position: absolute;
    /* right: 1px;  */

}


.login__div-content { 
    background: white;
    height:  510px;
    width: 600px;

    margin-bottom: 2vw;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    overflow-y: scroll;

}

.h1 {
    font-size: 31px;
}

button {
    font-size: 20px;
    height: 50px;
    width: 50px;

    border-radius: 50%;
    border:none; 
    background: white;
}

button:hover {
    background: grey;
}